body {
  margin: 0;
 width: 100%;
 height: 100%;
 overflow: hidden;
 &::before{
  content: "";
  position:absolute;
  width: 30%;
  height: 30%;
  background: linear-gradient(90deg,#9F72D4, rgb(188, 41, 164));
 border-radius: 50%;
 left: -10%;
 top: -10%;
 filter: blur(100px);
 animation: gradient 4s infinite;
 }

 &::after{
  content: "";
  position: absolute;
  width: 40%;
  height: 40%;
  background: linear-gradient(90deg, rgb(188, 41, 164),lightblue);
 border-radius: 50%;
 right: -10%;
 bottom: -10%;
 filter: blur(100px);
 animation:gradient 4s infinite;
 }
}

@keyframes gradient{
  70%{
    transform: scale(1.5) translate(70px);
  }
}